

.welcome-page {
    position: fixed;
    top:40%;
    left:50%;
    transform: translateX(-50%);
}


.welcome-page > a {

margin-right: 1rem;
text-decoration: none;

}

.welcome-page > a:hover {

    background-color: aqua;
    
    }
